*.jar filter=lfs diff=lfs merge=lfs -text
caches/8.7/generated-gradle-jars/gradle-api-8.7.jar filter=lfs diff=lfs merge=lfs -text
caches/transforms-4/0ea9ca035fbb3a3937f0c077e06f5d4e/transformed/instrumented/instrumented-kotlin-compiler-embeddable-1.9.0.jar filter=lfs diff=lfs merge=lfs -text
